@model IEnumerable<tltjr.Models.Post>

<section id="page-sidebar" class="alignleft span8">
    <!-- content -->
    <div class="row">
        <div class="span8">
            <div class="title-divider">
                <h3>Blog</h3>
                <div class="divider-arrow"></div>
            </div>
        </div>

        @foreach (var post in Model)
        {
            <article class="blog-post span8">
                <div class="block-grey">
                    <div class="block-light">
                        <div class="wrapper">
                            <h2 class="post-title">@Html.ActionLink(@post.Title, @post.Url)</h2>
                            <p>
                                @post.Summary
                                @if (post.More) 
                                {
                                    <a href="@post.Url" class="read-more">[...]</a>
                                }
                            </p>
                            <p class="tags">
                                @if (post.Tags != null) 
                                {
                                    @Html.Partial("_Tags", post.Tags)
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
</section>