@model tltjr.Models.PostModel

<!-- container -->
<section id="container">
    <div class="container">
        <div class="row down160">
            <!-- page content -->
            <section id="page-sidebar" class="alignleft span8">
                <!-- content -->
                <div class="row">
                    <div class="span8">
                        <div class="title-divider">
                            <h3>Blog</h3>
                            <div class="divider-arrow"></div>
                        </div>
                    </div>
                    <article class="blog-post span8">
                        <div class="block-grey">
                            <div class="block-light">
                                <div class="wrapper">
                                    <h2 class="post-title">@Model.Post.Title</h2>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="edit">
                                            @Html.ActionLink("Edit", "Edit", new { objectId = Model.Post.Id}, null)
                                        </div>
                                    }
                                    @{
                                        var body = Model.Post.Body;
                                        var bodyHtml = body.Replace("\r\n", "<br />");
                                        @Html.Raw(bodyHtml)
                                    }
                                    <p class="tags">
                                        @if (Model.Post.Tags != null) 
                                        {
                                            @Html.Partial("_Tags", Model.Post.Tags)
                                        }
                                    </p>
                                    <hr>
                                    <!--comments-->
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            @Html.Partial("_Sidebar", Model.SidebarModel)
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#nav-blog").addClass("active");
</script>
